.footer{
    padding: 20px 0;
}
.footer__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nombre{
    font-size: 27px;
    font-family: "Montserrat" , sans-serif;
    margin: 0 15px;
}

.footer__logo{
    width: 24px;
    height: 34px;
    margin: 0 5px;
}

@media screen and (max-width: 480px) {

    .footer__contenedor {
        flex-wrap: wrap;
    }

    .footer__logos {
        margin-top: 10px;
    }
    
}